<section class="reset">
    <div class="reset__action">
        <div class="knolcom-logo">
            <img src="../../../../assets/images/logo/Logo-Blue.svg" />
        </div>
        <button mat-flat-button class="knolcom-btn" (click)="navigateToLogin()">Back to Login</button>
    </div>
    <div class="reset__form">
        <div class="reset__form__text-wrapper">
            <div class="reset__form__header">Forgot Your Password?</div>
            <div class="reset__form__text">
                Enter your email address and we will send you instructions to reset your password.
            </div>
        </div>
        <form class="reset__form__mail-login" [formGroup]="resetPassword" (ngSubmit)="onSubmit(resetPassword)">
            <div class="knolcomFloat">
                <input class="knolcomFloat__input readonly-field" formControlName="email" type="text" placeholder=" " />
                <label class="knolcomFloat__labelText">Email</label>
                <div class="knolcomFloat__error-one"
                *ngIf="resetPassword.controls.email.touched && resetPassword.controls.email.value && resetPassword.controls.email.hasError('pattern')">
                Invalid email address.
              </div>
            </div>
            <div class="submit-btn">
                <button type="submit" [disabled]="!resetPassword.valid" mat-flat-button class="knolcom-btn">Continue</button>
            </div>
        </form>
    </div>
</section>