@import "../../../../assets/themes/variable";

.signup{
    margin: 20px 30px;
    height: calc(100vh - 40px);

    &__action{
        @include flexPosition(flex-end);

        .knolcom-logo{
            display: none
        }
    }

    &__form{
        @include flexPosition(center);
        flex-direction: column;
        margin-top: 15%;

        &__text{
            color: $knolcom-light-grey;
            font-size: 22px;
        }

        &__google-signin{
            @include flexPosition(space-between);
            border: 2px solid #045ca4b8;
            border-radius: 4px;
            padding: 10px 20px;
            margin: 30px 0px;
            cursor: pointer;

            &__logo{
                position: relative;
                top: 2px;
            }

            &__text{
                color: $knolcom-light-grey;
                margin-left: 15px;
                font-size: 16px;
            }

        }

        &__horizontal {          
            position: relative;
            z-index: 1;
            width: 325px;

            
            &:before {
                border-top: 2px solid $knolcom-grey;
                content:"";
                margin: 0 auto; /* this centers the line to the full width specified */
                position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
                top: 50%; left: 0; right: 0; bottom: 0;
                width: 95%;
                z-index: -1;
            }
        
            span { 
                color: $knolcom-light-grey;
                background: $background-color;
                padding: 0px 15px;
                position: relative;
                left: 40%; 
            }
        }

        &__mail-signup{
            width: 350px;
            margin: 30px 0px;

            .knolcomFloat{
                margin-bottom: 40px;
            }

            .submit-btn{

                button{
                    width: 100%;
                    height: 50px;
                }
            }
        }

        &__signin-link{
            color: $knolcom-light-grey;
            margin: 15% 0%;

            span{
                color: $knolcom-primary;
                font-weight: 600;
                cursor: pointer;
            }

            span:hover{
                text-decoration: underline;
            }
        }
    }
}



// for mobile devices
@media only screen and (max-width: 600px) {
    .signup{

        &__action{
            @include flexPosition(space-between);
    
            .knolcom-logo{
                display: block;
                width: 50px;
                height: 50px;
                cursor: pointer;
    
                img{
                    width: 100%;
                    height: 100%; 
                }
            }
        }

        &__form{

            &__text{
                font-size: 20px;
            }
            
            &__mail-signup, &__horizontal{
                width: 300px;
            }
        }

    }
}
