<section class="authentication">
    <div class="knolcom-info">
        <div class="knolcom-info__wraper">
            <div class="knolcom-info__wraper__knolcom-logo">
                <img src="../../../../assets/images/logo/Logo-Full-White.svg"> 
            </div>
            <div class="knolcom-info__wraper__study-image">
                <img src="../../../../assets/images/login/Login_Graphic-1.svg"> 
            </div>
            <div class="knolcom-info__wraper__knolcom-motto">
                Read, lead & succeed in your industry
            </div>
            <div class="knolcom-info__wraper__knolcom-text">
                KnolCom is used by hundreds of individual
                professionals, small and large teams to
                create learning pathways.
            </div>
        </div>
    </div>
    <div class="auth-wrapper">
        <router-outlet></router-outlet>
    </div>
</section>
